* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color:rgb(77, 77, 77);
}

body, .quote-input {
    font-family:Arial, Helvetica, sans-serif
}

.list{
    padding:0px;
    user-select: none;
    list-style-type: none ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    user-select: none;
    position: relative;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    width: 700px;
    max-width: 90%;
}

.timer {
    user-select: none;
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.quote-display {
    user-select: none;
    text-align: center;
}

.overlay {
    z-index:2;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 3rem;
    color: black;
}

.quote-input {
    user-select: none;
    height: 0;
    opacity: 0;
    background-color: transparent;
    
}

.option-buttons {
    z-index:3;
}

.wpm {
    z-index:3;
    user-select: none;
    position: relative;
    text-align: center;
    font-size: 3rem;
    color: white;
    font-weight: bold;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}